<p id="notice"><%= notice %></p>

<h1>Friend Variants</h1>

<table>
  <thead>
    <tr>
      <th>Phone2</th>
      <th>Friends</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend_variants.each do |friend_variant| %>
      <tr>
        <td><%= friend_variant.phone2 %></td>
        <td><%= friend_variant.friends_id %></td>
        <td><%= link_to 'Show', friend_variant %></td>
        <td><%= link_to 'Edit', edit_friend_variant_path(friend_variant) %></td>
        <td><%= link_to 'Destroy', friend_variant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend Variant', new_friend_variant_path %>
