<p id="notice"><%= notice %></p>

<p>
  <strong>Phone2:</strong>
  <%= @friend_variant.phone2 %>
</p>

<p>
  <strong>Friends:</strong>
  <%= @friend_variant.friends_id %>
</p>

<%= link_to 'Edit', edit_friend_variant_path(@friend_variant) %> |
<%= link_to 'Back', friend_variants_path %>
